/* CSS HEX */
:root {
--mauve: #D99BF5ff;
--ghost-white: #FBF7FDff;
--lavender-veil: #F4DEFDff;
--royal-violet: #8708BFff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

/* header and nav */
header {
    background-color: var(--royal-violet);
    color: var(--ghost-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    gap: 0;
}

nav ul {
    list-style: none;
}

.navigation a {
    display: none;
    color: var(--ghost-white);
    text-decoration: none;
    font-size: larger;
    padding: 8px 0;
    text-align: center;
}

#menu {
    position: absolute;
    right: 30px;
    font-size: 30px;
    width: 30px;
    background: none;
    border: none;
    color: var(--ghost-white);
}

/* hero slider */
.slider-cont {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 3px solid var(--mauve);
}

.slider {
    display: flex;
    width: 100%;
    height: 100%;
    animation: slide 20s infinite ease-in-out;
}

.slider img {
    width: 100%;
}

@keyframes slide {
    0%, 33% {
        transform: translateX(0);
    }

    40%, 66% {
        transform: translateX(-100%);
    }

    73%, 100% {
        transform: translateX(-200%);
    }
}