:root {
/* CSS HEX */
--mauve: #D99BF5ff;
--ghost-white: #FBF7FDff;
--lavender-veil: #F4DEFDff;
--royal-violet: #8708BFff;
}

body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

header {
    color: var(--ghost-white);
    background-color: var(--royal-violet);
    padding: 10px;
    width: 100%;
}

main {
    background-color: var(--ghost-white);
    padding: 10px;
    color: var(--royal-violet);
    width: 100%;
}

h1, h2 {
  font-family: "Gabriela", serif;
}

p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Inter", sans-serif;
}

h3 {
    padding-left: 10px;
}

.color-schema {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.color-schema h2 {
    grid-column: 1 / 3;
}

div.box {
    margin-left: 20px;
}

.primary {
    background-color: var(--royal-violet);
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

.secondary {
    background-color: var(--ghost-white);
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

.accent1 {
    background-color: var(--lavender-veil);
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

.accent2 {
    background-color: var(--mauve);
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

.website-wireframes {
    display: grid;
    grid-template-columns: 1fr;
}

figure {
    padding-bottom: 10px;
}

figure img {
    align-items: center;
    width: 500px;
    height: auto;
    padding-left: 20px;
}

.small-screen-wireframes {
    display: grid;
    grid-template-columns: 1fr;
}

figcaption {
    padding-left: 20px;
}

footer {
    color: var(--ghost-white);
    background-color: var(--royal-violet);
    padding: 10px;
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 900px) {
    .website-wireframes {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .big-header {
        grid-column: 1 / 3;
    }

    .small-screen-wireframes {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    figure img {
        align-items: center;
        width: 400px;
        height: auto;
        padding-left: 20px;
    }

    .small-header {
        grid-column: 1 / 3;
    }
}