:root {
    --primary-color: #4F3B59;
    --secondary-color: #939196;
}

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
}

#course-title {
    color: white;
    font-size: 30px;
    padding: 15px;
    display: flex;
    justify-content: center;
}

nav {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

nav a:hover {
    background-color: lightgray;
    transform: scale(1.1, 1.1);
}

main {
    width: 850px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
}

h1, h2 {
    text-align: center;
    padding: 10px;
}

.name {
    grid-column: 1 /3;
}

.card {
    margin: 15px;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
}

.card h2 {
    background-color: var(--primary-color);
    color: white;
    grid-column: 1 / 3;
}

.profilepic {
    padding: 20px;
    grid-column: 2 / 3;
}

.bio {
    padding: 20px;
    text-indent: 10px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.card h3 {
    text-align: center;
    border-bottom: 1px solid var(--secondary-color);
}

.flag {
    padding: 20px;
    grid-column: 1 / 2;
}

.state-info {
    grid-column: 2 / 3;
    padding: 10px;
}

.card ul {
    padding: 30px;
    padding-top: 50%;

}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    font-size: large;
    padding: 10px;
}

#lastModified {
    color: yellow;
}