:root {
    --primary-color: #4F3B59;
    --secondary-color: #939196;
}

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

.course-title {
    background-color: var(--primary-color);
    color: white;
    font-size: 30px;
    padding: 15px;
    display: flex;
    justify-content: center;
}

nav {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

h1, h2 {
    text-align: center;
    padding: 10px;
}

.card {
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    display: flex;
    
}

.card h2 {
    background-color: var(--primary-color);
    color: white;
}

.profilepic {
    float: right;
    padding: 20px;
}

.card p {
    padding: 20px;
    text-indent: 10px;
}

.card h3 {
    justify-content: left;
    text-align: center;
    border-bottom: 1px solid var(--secondary-color);
}