:root {
    --primary-color: #4F3B59;
    --secondary-color: #939196;
}

* {
    font-family: "Playfair Display", serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    color: white;
    margin: 0;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    justify-content: flex-start;
}

/* Nav */
nav {
    display: flex;
    justify-content: space-between;
}

nav.open {
    display: block;
    border-radius: 5px;
    background-color: var(--secondary-color);
    position: absolute;
    top: 50px;
    right: 40px;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    margin: 0;
}

.navigation a {
    display: none;
    color: black;
    text-decoration: none;
    font-size: larger;
    padding: 8px 0;
    text-align: center;
}

#menu {
    position: absolute;
    top: 20px;
    right: 40px;
    background: none;
    font-size: 30px;
    border: 0;
}

#menu::before {
    content: "☰";
    color: white;
}

#menu.open::before {
    content: "✕";
    color: white;
    padding: 3px;
}

.navigation a:hover {
    background-color: darkgray;
    text-decoration: underline;
    font-weight: 500;
}

/* clicked button (open/closed) */
.open a {
    display: block;
}

.active::before {
    color: white;
    background-color: #4F3B59;
}

/* Main */
main {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
}

#temples {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    gap: 10px;
}

.temple-card {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
}

.temple-card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

/* footer */
footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    font-size: large;
    padding: 10px;
    width: 100%;
}

#lastModified {
    color: yellow;
}

/* larger css */
@media screen and (min-width: 900px) {
    :root {
    --primary-color: #4F3B59;
    --secondary-color: #939196;
    }

    h1 {
        padding-left: 20px;
    }

    nav {
        display: flex;
        flex-direction: row;
    }

    nav a:hover {
        text-decoration: underline;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 30px;
        padding-right: 20px;
        font-size: 20px;
        width: 100%;
    }

    .navigation a {
        display: block;
        color: white;
    }

    .navigation a:hover {
        padding: 10px;
    }

    #menu {
        display: none;
    }

    nav.open {
        top: -10px;
    }

/* Main */
    #temples {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        margin: 0 auto;
        padding: 1rem;
        max-width: 1200px;
    }

    h2 {
        text-align: center;
        grid-column: 1 / 4;
    }

}