:root {
    --primary-color: #4F3B59;
    --secondary-color: #939196;
}

* {
    font-family: "Playfair Display", serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    padding-left: 30px;
}

/* Nav */
nav {
    display: flex;
    justify-content: space-between;
}

nav.open {
    display: block;
    border-radius: 5px;
    background-color: var(--secondary-color);
    position: absolute;
    top: 50px;
    right: 40px;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    padding: 10px;
    gap: 0;
}

.navigation li {
    margin: 0;
}

.navigation a {
    display: none;
    color: black;
    text-decoration: none;
    font-size: larger;
    padding: 8px 0;
    text-align: center;
}

#menu {
    position: absolute;
    top: 20px;
    right: 40px;
    background: none;
    font-size: 30px;
    border: 0;
}

#menu::before {
    content: "☰";
    color: white;
}

#menu.open::before {
    content: "✕";
    color: white;
    padding: 3px;
}

.navigation a:hover {
    background-color: darkgray;
    text-decoration: underline;
    font-weight: 500;
}

/* clicked button (open/closed) */
.open a {
    display: block;
}

.active::before {
    color: white;
    background-color: #4F3B59;
}

/* Main */
main {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    grid-gap: 0;
}

h2 {
    text-align: center;
}

figure {
    margin: 0 auto;
    padding: 10px;
}

figure img {
    width: 200px;
}

figcaption {
    text-align: center;
}

/* footer */
footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    font-size: large;
    padding: 10px;
}

#lastModified {
    color: yellow;
}